<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="'self' https://ajax.googleapis.com" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>0OpSPzAoG7qrCq8KyEXmyIflBqkJbSlOdtw5WZxKsv5PT3OQcn/0XXB6LpCgDNNeKejWzfsh78EjJTw8Pa6kSi32sX4fgdZgQkaYc2sHniRoqx7/bWqMVnDLD4m1VxIHobGGqz56VcISTAmLnX/rt8lmRSsn9bM6VSUh+VNm/kE=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>5Nar3JuN0UI9eVnC60wZA9qRaklcB3EaDugv+EGeCRdVcSJ9O7Kby7oyIHPQ8IBiD/NFFDtZ6nMndd3aVI5u4CYtQzo9LsC7ZhYwyRAFIaWGdOU6X+7PmQNEWUfA2koMz4vdKFl41NXSHgiCZ+3xNTGE//SMec589tb3rdRZrKKQPnxmHw7KDdAYsG3e+XD66OwErLvR3twW1Vm2t4WB9r+Baaw6Eq+TuEa/0QTki9ZuYn+wRJrNT7UZ27JBRvLD+mxDPbGD2m4zeoN15Hql63KTINNsq9VC8TKihZxIGPbDsf823z+f6D1aJBMCHVyT8KQDT5zrSfvuNSN5NK5XW/Vzyia958IeR+aeHw7kvCX/wAlXoeo/OU2Voq6ULev5wJTkdH+99zJm1I4t/oHkWg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Authentication/Login.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder,System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <location path="Authentication">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>